// ========== COLOURS ==========

$main-colour: #0098a1;

$light-white: #eee;
$light-grey: #ddd;
$pure-white: #fff;
$dark: #333;
$odd-section: #f9f9f9;


$shadow: rgba(0, 0, 0, 0.3);
$strong-shadow: rgba(0, 0, 0, 0.75);


// ========== GRADIENTS ==========

$image-gradient: linear-gradient(transparent, $dark);