@use './colours' as *;

html {
	font-size: 55%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

:root {
	scroll-padding-top: 45.6px;
}

body {
	font-family: 'Kalam', cursive;
	text-transform: capitalize;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}
// ========== SECTION STARTS ==========
.section {
	&-padding {
		padding: 6rem 4rem;
	}

	&-heading {
		font-size: 4rem;
		color: $dark;
		text-align: center;
		padding: 0 1rem;
		padding-top: 6rem;
		letter-spacing: 0.2rem;
		font-weight: 500;

		&-first {
			color: $main-colour;
		}
	}

	&-title {
		padding: 0 1rem;
		font-size: 2rem;
		text-align: center;
		font-weight: 400;
		color: $light-grey;
	}
}

// ========== SECTION ENDS ==========

// ========== NAVIGATION STARTS ==========
.navbar {
	align-items: center;
	background: $pure-white;
	border-radius: 1rem;
	display: flex;
	left: 50%;
	padding: 1rem 2rem;
	position: fixed;
	text-align: center;
	top: 2rem;
	transform: translateX(-50%);
	justify-content: space-between;
	width: 96%;
	z-index: 10;
	&__logo {
		color: $dark;
		font-size: 2rem;
		text-transform: uppercase;
		&-text {
			padding: 0 0.2rem;
		}
	}
	&__active {
		box-shadow: 0 0.1rem 0.3rem $shadow;
		border-radius: 0;
		top: 0;
		width: 100%;
	}
	&__list {
		align-items: center;
		background: $pure-white;
		border-radius: 1rem;
		box-shadow: 0 0.1rem 0.3rem $shadow;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		left: 0;
		position: fixed;
		padding: 1rem 0;
		opacity: 0;
		top: -100rem;
		transition: top 0.3s linear;
		width: 100%;

		&-item {
			color: $dark;
			display: block;
			font-size: 3rem;
			font-size: 2rem;
			margin: 1rem 0;
			width: 100%;
		}

		&-item--active,
		&-item:hover {
			color: $main-colour;
		}

		&-active {
			top: 6rem;
			opacity: 1;
		}
	}

	&__icon {
		color: $main-colour;
		cursor: pointer;
		font-size: 3rem;
		transition: 0.3s;
	}

	.fa-times {
		color: $main-colour;
		transform: rotate(180deg);
	}
}

// ========== NAVIGATION ENDS ==========

// ========== HEADER STARTS ==========

.home {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	min-height: 100vh;
	position: relative;

	&__bg {
		&-video {
			left: 0;
			height: 100%;
			position: absolute;
			object-fit: cover;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
	&__content {
		margin-top: 7rem;
		&-title {
			color: $pure-white;
			font-size: 5rem;
			text-align: center;
			text-shadow: 0 0.3rem 0.5rem $dark;
		}

		&-text {
			border-left: 0.3rem solid $light-grey;
			color: $pure-white;
			font-size: 2rem;
			padding-left: 2rem;
			text-shadow: 0 0.3rem 0.5rem $dark;
		}

		&__form {
			&-panel {
				background-color: $pure-white;
				border-radius: 0.5rem;
				box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.9);
				margin-top: 8rem;
				padding: 2rem;
				width: 100%;
			}
			&-title {
				color: $dark;
				font-size: 3rem;
				text-align: center;
			}
			&-text {
				color: $main-colour;
				display: block;
				font-size: 2.5rem;
				margin: 0.5rem 0;
			}

			&-location,
			&-members,
			&-date,
			&-btn {
				background: $light-white;
				border: none;
				border-radius: 0.5rem;
				box-shadow: 0 0.1rem 0.3rem $shadow;
				color: $dark;
				font-size: 1.5rem;
				height: 4rem;
				outline: none;
				padding: 0 1rem;
				width: 100%;
			}

			&-btn {
				color: $pure-white;
				background: $main-colour;
				cursor: pointer;
				font-size: 2rem;
				margin-top: 2rem;
				text-transform: capitalize;
				transition: 0.3s;
				width: 100%;
			}

			&-btn:hover {
				background: none;
				border: 0.2rem solid $main-colour;
				color: $main-colour;
			}
		}
	}
}

// ========== HEADER ENDS ==========

// ========== MAIN STARS ==========

// ========== FEATURES STARS ==========

.features {
	background: $lighter-white;

	&__cards {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	&__card {
		background: $pure-white;
		border-radius: 0.5rem;
		box-shadow: 0 0.3rem 0.5rem $shadow;
		margin: 2rem;
		overflow: hidden;
		position: relative;
		width: 30rem;

		&-discount {
			background: $discount;
			color: $pure-white;
			display: block;
			font-size: 2rem;
			height: 3.5rem;
			left: 1rem;
			line-height: 4rem;
			position: absolute;
			top: 1rem;
			text-align: center;
			width: 6rem;
		}

		&-img {
			height: 25rem;
			object-fit: cover;
			width: 100%;
		}

		&__content {
			padding-bottom: 2rem;
			text-align: center;

			&-title {
				color: $main-colour;
				font-size: 3rem;
				padding: 1rem 0;
			}

			&-text {
				color: $dark;
				font-size: 1.5rem;
				padding: 1rem;
			}

			&__stars {
				&-star {
					color: $star-colour;
					font-size: 2rem;
					padding: 2rem 0.2rem;
				}
			}

			&__link {
				&-btn {
					background: $main-colour;
					border: none;
					border-radius: 0.5rem;
					color: $pure-white;
					cursor: pointer;
					font-size: 1.7rem;
					height: 3.5rem;
					margin-top: 1.4rem;
					outline: none;
					transition: 0.3s;
					width: 12rem;
				}

				&-btn:hover {
					background: none;
					border: 0.2rem solid $main-colour;
					color: $main-colour;
				}
			}
		}
	}
}

// ========== FEATURES ENDS ==========

// ========== ABOUT STARTS ==========

.about {
	&__box {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		&__image {
			&-img {
				height: 80vh;
				width: 80vw;
			}
		}

		&__content {
			&-title {
				color: $main-colour;
				font-size: 4rem;
			}
			&-text {
				color: $dark;
				font-size: 1.9rem;
			}

			&__link {
				&-btn {
					background-color: $main-colour;
					border: none;
					color: $pure-white;
					cursor: pointer;
					height: 4rem;
					font-size: 2rem;
					margin-top: 3rem;
					transition: 0.3s;
					width: 18rem;
				}
				&-btn-more {
					margin-right: 1rem;
				}
				&-btn-more,
				&-btn:hover {
					background: none;
					border: 0.2rem solid $main-colour;
					color: $main-colour;
				}
			}
		}
	}
}

// ========== ABOUT ENDS ==========

// ========== MAIN ENDS ==========
