@media (min-width: 992px) {
	.about {
		&__box {
			flex-direction: row;
			text-align: left;

			&__image {
				&-img {
					width: 40vw;
				}
			}

			&__content {
				margin-left: 1rem;
			}
		}
	}

    .gallery {
        &__container {
            &__box {
                width: 40rem;height: 30rem;
            }
        }
    }
}
