@media (min-width: 992px) {
	.about {
		&__box {
			flex-direction: row;
			text-align: left;

			&__image {
				&-img {
					height: 70vh;
					width: 40vw;
				}
			}

			&__content {
				margin-left: 1rem;
			}
		}
	}
}
