@use './colours' as *;

@media (min-width: 768px) {
	html {
		font-size: 62.5%;
	}
	:root {
		scroll-padding-top: 72px;
	}
	.navbar {
		&__list {
			box-shadow: none;
			flex-direction: row;
			justify-content: flex-end;
			opacity: 1;
			position: relative;
			top: 0;
			width: 60%;
			&-item {
				font-size: 2rem;
				margin: 0 1rem;
			}
		}

		&__icon {
			display: none;
		}
	}

	.home {
		flex-flow: row;
		&__content {
			&__form {
				&-panel {
					width: 38rem;
					margin-left: 1rem;
				}

				&-btn {
					width: 50%;
				}
			}
		}
	}

	.features {
		&__card {
			width: 35rem;
			&-img {
				height: 35rem;
			}
		}
	}

	.reviews {
		&__container {
            margin: 8rem 0;
			&__box {
				margin: 6rem 2rem;
				&__image {
					&-img {
						height: 20rem;
						width: 20rem;
					}
				}
				&__content {
					&-title {font-size: 3.3rem;
						padding: 2rem;
					}
					&-text {
						font-size: 2rem;

						padding: 2rem;
					}
					&__stars {
						&-star {
							font-size: 2.5rem;
							padding: 3rem 0.2rem;
						}
					}
				}
			}
		}
	}
}
